@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');


body {
  margin: 0;
}

header {
  height: 100px;
  width: 100vw;
  margin: 0;
  text-align: center;
  background-image: linear-gradient(to top, rgba(245, 230, 20, 0.9), rgba(245, 230, 20, 0.1));
}

main {
  width: 100vw;
  background-image: linear-gradient(rgba(245, 230, 20, 0.9), rgba(245, 230, 20, 0.1));
  text-align: center;
  justify-content: center;
  display: flex;
}

.flex-container {
  background-color: white;
  height: 80vh;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 3rem;
  color: orange;
  font-family: 'Nerko One';

}

h4 {
  color: orange;
  text-decoration: underline;
  font-size: 1.5rem;
}


button,
select {
  height: 80px;
  width: 200px;
  border: solid 4px orange;
  border-radius: 40px;
  color: orange;
  border: solid 4px orange;
  text-align: center;
  background-image: linear-gradient(rgba(245, 230, 20, 0.9), rgba(245, 230, 20, 0.1));
  cursor: pointer;
  font-size: 1.5rem;


}

button:active {
  transform: translateX(2px), translateY(2px);


}

.icon {
  font-family: 'Material Symbols Outlined';
  font-weight: 900;
  text-shadow: 2px 2px black;
  font-size: 4rem;

}

.icon:active {
  transform: scale(0.8) translate(2px, 2px);
  text-shadow: none;

}

.array-values {
  font-size: 1.5rem;
  font-weight: bold;
  color: orange;
}

table td {
  border: solid 2px orange;
}