@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

:root {

  --darkpink: rgb(247, 111, 154);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: pink;
}

.title-container {
  width: 600px;
  border-radius: 50%;
  background-color: var(--darkpink);
  opacity: 0.5;
  text-align: center;
  height: 150px;

}

.button-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}


header {
  height: 200px;
}

h1 {
  font-size: 3rem;
  text-transform: uppercase;
  line-height: 150px;
  color: white;
}



button {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  font-size: 1.4rem;
  border: none;
  box-shadow: 2px 2px 5px rgb(46, 39, 39);
  font-weight: 800;
  color: white;
  cursor: pointer;
}

button:active {
  color: green;
}

#pop {
  background-color: var(--darkpink);
}

#push {
  background-color: rgb(65, 65, 177);
}

#getNumbers {
  background-color: black;
  height: 100px;
  width: 100px;
  font-size: 1rem;

}

h3 {
  color: rgb(39, 49, 98);
}

.text {
  font-size: 1.1rem;
  color: var(--darkpink);
  font-weight: 600;
  margin: 1rem 0;
}

table {
  border: 2px solid var(--darkpink);
  box-shadow: 0 0 4px var(--darkpink);
  border-radius: 20px;
  padding: 0.5rem;
  min-height: 70px;
  min-width: 400px;

}

td {
  display: inline;
  padding: 0.3rem;
  font-size: 1.2rem;
  color: var(--darkpink);
  font-weight: 800;
  line-height: 70px;
  margin: 0.2rem;

}